/* GENERAL*/
*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar{
    margin-left: 10em;
    
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.singnin{
    background-color: cyan;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    border: none;
    margin-left: 70em;
}

/* HEADER */

#background_img{
    background-image: url("https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}
#email{
   border-radius: 5px;
   padding: 10px;
   border: none;
}
.background_img{
    position: absolute;
    top: 15em;
    left: 30em;   
}
p{
   color: gray;
}
.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.signup{
   border-radius: 5px;
   padding: 10px;
   border: none;
   background-color: cyan;
}

/* ICONS */

.icons{
    text-align: center;

}
.fa-sharp{
    color: cyan;
}
.responsive{
    position: absolute;
    top: 36em;
    left: 5em;
   
}
.boostrap{
    position: absolute;
    top: 36em;
    left: 27em;
}
.easy{
    position: absolute;
    top: 36em;
    left: 50em;

}